# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 17ce6aea6d6816cff723a04787c7b9ed46606b89a7109685db74b6260ff24b75daedbbf65e48adfbf75d8e237ad3827ebb0c1bb67e6623d1316f6200d7b17d48

test:
  secret_key_base: 0a48070e2bc6b81bd5fdcd659c2d7679a73fd01655d7e5bada0f06f07913bbd5f9bcfea1c712c50a63741da72ea798c5e434d790d4bd7ab97d00a7ce3181f56d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
